{{!-- Crear lista de artículos --}}


<div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each allProducts}}
        <div class="col" style="margin-top: 0.5rem;">
            <div class="card" style="width: 18rem;">
                <img src="{{this.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text">{{this.price}}</p>
                    <a href="/productos/{{this._id}}" class="btn btn-primary">Ver más</a>
                    <a href="/carrito/{{this._id}}" class="btn btn-primary">Lo quiero!</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>


